@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

button {
  cursor: pointer;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: black;
}

header {
  position: fixed;
  top: 0;
  padding: 16px;
  width: 100%;
  height: 14vh;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 2px solid black;
  padding: 8px 16px;
}

.navlinks {
  display: flex;
}

.navlinks li {
  margin-left: 8px;
  border-right: 2px solid black;
  padding-right: 8px;
}

.navlinks li:last-child {
  border: none;
  padding-right: 0;
}

.datetime {
  text-align: right;
  padding: 8px 0;
}

main {
  margin-top: 14vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 8vh;
  align-items: center;
}

#book-list {
  width: 70%;
  text-align: center;
  padding: 5%;
}

#book-list h1 {
  margin-bottom: 24px;
}

.books-container {
  border: 2px solid rgb(0, 0, 0);
}

.book-card {
  display: flex;
  padding: 2%;
  flex-wrap: wrap;
}

.book-card:nth-child(odd) {
  background-color: rgba(177, 175, 175, 0.952);
}

.book-card li {
  list-style: none;
}

.book-card li:last-child {
  flex: 1;
  text-align: end;
}

.title::before {
  content: '"';
}

.title::after {
  content: '" by ';
  white-space: pre;
}

.remove-book {
  padding: 8px;
  border: 1px solid rgb(0, 0, 0);
  box-shadow: 10px 5px 5px rgb(0, 0, 0);
}

#add {
  width: 40%;
}

#add hr {
  background-color: black;
  border: 1px solid black;
  width: 30%;
  margin: 20px auto;
}

#add h2 {
  margin-bottom: 20px;
  text-align: center;
}

#add ul {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

#add ul li {
  list-style: none;
  width: 100%;
}

#add input {
  border: 2px solid black;
  padding: 5px;
  margin-bottom: 10px;
  width: 100%;
}

#add button {
  padding: 10px 20px;
  box-shadow: 5px 2px 2px rgb(0, 0, 0);
}

#add li:last-child {
  display: flex;
  justify-content: end;
}

@media (max-width: 700px) {
  #book-list {
    width: 100%;
  }

  #add {
    width: 90%;
  }

  .book-card {
    flex-direction: column;
    padding: 2%;
    flex-wrap: wrap;
  }

  .book-card li:last-child {
    flex: 1;
    text-align: center;
    margin: 10px;
  }
}
