@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

main {
  display: flex;
  flex-direction: column;
  gap: 8vh;
  align-items: center;
}

#book-list {
  width: 100%;
  text-align: center;
  padding: 5%;
}

#book-list h1 {
  margin-bottom: 24px;
}

.books-container {
  border: 2px solid rgb(0, 0, 0);
}

.book-card {
  display: flex;
  padding: 2%;
}

.book-card:nth-child(odd) {
  background-color: rgba(177, 175, 175, 0.952);
}

.book-card li {
  list-style: none;
}

.book-card li:last-child {
  flex: 1;
  text-align: end;
}

.title:before {
  content: '"';
}

.title:after {
  content: '" by ';
  white-space: pre;
}

.remove-book {
  padding: 8px;
  border: 1px solid rgb(0, 0, 0);
  box-shadow: 10px 5px 5px rgb(0, 0, 0);
}